@import './../styling/mixins';
@import './../styling/colors';

.product {
	&-itemContainer {
		@include widget-common-elements();
		@include common-shadows();
		background-color: $_light-blue;
		display: flex;
		flex-direction: column;
		height: auto;
		margin: 5px;
		padding: 13px;
		width: 120px;
	}

	&-itemHeader {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&-imageContainer {
		@include common-shadows;
		margin: 0;
		width: 100%;

		>img {
			width: 100%;
			height: 100%;
		}
	}

	&-name {
		color: $text-titles;
		font-size: 18px;
		font-weight: 400;
		height: 20px;
		margin-top: 2px;
		margin-bottom: 5px;
		text-transform: uppercase;
		text-overflow: ellipsis;
	}

	&-itemContent {
		align-items: flex-start;
		color: $text-paragraph;
		display: flex;
		flex-direction: column;
		float: left;
		font-size: 13px;
		font-weight: 400;
		justify-content: flex-start;
		line-height: 18px;
		margin-left: 2px;
		margin-top: 11px;
		width: 80%;
	}

	&-listRow {
		max-width: 80%;
		background-color: $_light-grey2;
	}
}