@import './../styling/mixins';
@import './../styling/colors';

.products {

	&-container,
	&-footer {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&-items,
	&-rows {
		border: solid;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0;
		width: 130px;
	}

	&-rows {
		display: flex;
		flex-direction: column;
		width: 540px;
	}


	&-itemContent {
		align-items: flex-start;
		color: $text-paragraph;
		display: flex;
		flex-direction: column;
		float: left;
		font-size: 13px;
		font-weight: 400;
		justify-content: flex-start;
		line-height: 18px;
		margin-left: 2px;
		margin-top: 11px;
		width: 80%;
	}
}